# Dependency directory
node_modules

# Environment settings
.env

# Build cache
tsconfig.tsbuildinfo

# Build directory
lib/

# Publish API uploaded files
uploads/

# Webpack stats
stats.json

# Other
.DS_Store
thumbs.db
*.log
processed.txt
temp-schema.graphql
tmp/

# VS
.vs